.ql-container.ql-snow {
  border: none !important;
  /* color: #6dc9ff; */
}

html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

select {
  scrollbar-width: none; /*For Firefox*/
  -ms-overflow-style: none; /*For Internet Explorer 10+*/
}

select:-webkit-scrollbar {
  /*For WebKit Browsers*/
  width: 0;
  height: 0;
}

.no-scroll {
  scrollbar-width: none; /*For Firefox*/
  -ms-overflow-style: none; /*For Internet Explorer 10+*/
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll::-moz-scrollbar {
  display: none;
}
.no-scroll::-o-scrollbar {
  display: none;
}
.no-scroll::-google-ms-scrollbar {
  display: none;
}
.no-scroll::-khtml-scrollbar {
  display: none;
}

/* * {
  margin: 0;
  height: 100%;
} */

html {
  font-size: 15px; /*  new  */
  min-height: 100%;
  background-color: black;
  /* border: 3px solid rgb(7, 212, 231); */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* overflow-y: auto; */
}

body {
  background-color: pink;
  /* border: 3px solid black; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

#__next {
  /* border: 3px solid red; */
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  transition: margin-left 0.5s;
}

.post-options-box {
  max-height: 1.53rem;
  overflow-y: hidden;
}

.bg-color-posts {
  background-color: rgb(250, 250, 250);
}

/* __________________________________________________  */
/* __________________________________________________  */

/*  When the page is this many pixels wide, do this  */
/* @media (min-width: 540px) { */

/* } */

/* @media (min-width: 850px) {
  .post-options {
    min-width: 17%;
  }
} */

.options-bars {
  font-size: 1.55em;
}

.faPlus {
  font-size: 1.5em;
}

.custom-shift {
  width: calc(100% - 10rem);
  transition: 300ms ease-in;
  /* color: rgb(92, 145, 199); */
}