.ql-container.ql-snow {
  border: none !important;
}

html::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body::-webkit-scrollbar {
  display: none;
}

select {
  scrollbar-width: none;
  /*For Firefox*/
  -ms-overflow-style: none;
  /*For Internet Explorer 10+*/
}

select:-webkit-scrollbar {
  /*For WebKit Browsers*/
  width: 0;
  height: 0;
}

.no-scroll {
  scrollbar-width: none;
  /*For Firefox*/
  -ms-overflow-style: none;
  /*For Internet Explorer 10+*/
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll::-moz-scrollbar {
  display: none;
}

.no-scroll::-o-scrollbar {
  display: none;
}

.no-scroll::-google-ms-scrollbar {
  display: none;
}

.no-scroll::-khtml-scrollbar {
  display: none;
}

html {
  font-size: 15px;
  min-height: 100%;
  background-color: black;
  /* border: 3px solid rgb(7, 212, 231); */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: pink;
  /* border: 3px solid black; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

#__next {
  /* border: 3px solid red; */
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  transition: margin-left 0.5s;
}

.post-options-box {
  max-height: 1.53rem;
  overflow-y: hidden;
  /* overflow-x: hidden; */
}

.bg-color-posts {
  background-color: rgb(250, 250, 250);
  /* background-color: #dfe6ef; */
}

/* __________________________________________________  */
/* __________________________________________________  */


/*  When the page is a minimum of this many pixels wide, do this  */

/* @media (min-width: 850px) {
  .post-options {
    min-width: 17%;
  }
} */

.options-bars {
  font-size: 1.55em;
}

.faPlus {
  font-size: 1.5em;
}

.custom-shift {
  width: calc(100% - 10rem);
  transition: 2000ms ease-in;
}

.expand-height {
  min-height: 7rem;
  /* transition: 1000ms ease-in; */
}

.copy-button {
  text-align: center;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s;
  text-decoration: none;
  /* overflow: hidden; */
  cursor: pointer;
}

.copy-button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 120%;
  padding-left: 130%;
  margin-left: -25% !important;
  margin-top: -80%;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.copy-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  cursor: pointer;
}

/* 
.dob-info-outer .dob-info-box {
  display: none; 
  position: absolute; 
  color: #fff; 
  background: #000; 
  padding: 5px;
}

.dob-info-outer {
  position: relative;

}

.dob-info-outer:hover .dob-info-box {
  display: block;
  position: absolute;
  text-align: center;
} */

.react-datepicker__navigation--previous {
  margin-top: 6px;
}

.react-datepicker__navigation--next {
  margin-top: 6px;
}

/* @import '~antd/dist/antd.css'; */

.ant-picker-input>input:placeholder-shown {
  font-size: 1.05rem;
}

.ant-picker-suffix {
  /* filter: contrast(200%); */
}

.ant-picker-input>input:placeholder-shown::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(156 163 175);
}

.ant-picker-input>input:placeholder-shown:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(156 163 175);
}

.ant-picker-input>input:placeholder-shown::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(156 163 175);
}

.ant-picker {
  border: none;
}

.ant-picker:hover {
  /* border:none; */
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-color: rgb(253 186 116);
  /* box-shadow: 0 0 0 2px rgb(253 186 116 / 100%) */
}

.ant-picker-focused {
  /* transition: none; */
  border: none;
  border-color: transparent;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-color: rgb(253 186 116);
  /* box-shadow: 0 0 0 2px rgb(253 186 116 / 100%) */

}

.ant-picker-focused:focus {
  /* transition: none; */
  border: none;
  --tw-ring-color: rgb(253 186 116);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  /* box-shadow: 0 0 0 2px rgb(253 186 116 / 100%) */
}

/* .form-control {
  border: none;
  width: 100%;
} */

.ant-picker-footer {
  display: none;
  /* color: rgb(55, 65, 81); */
}

.ant-picker-time-panel {
  /* background-color: firebrick; */
  border-bottom: 2px solid rgb(190, 205, 233);
  /* padding-bottom: 0.3rem; */
}

.ant-picker-time-panel-column::-webkit-scrollbar {
  /* display: none;
  -webkit-appearance: none; */
  width: 0.5rem;
  background-color: rgb(255, 242, 226);
}

.ant-picker-time-panel-column::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(208, 217, 233);
}


.ant-picker-time-panel-column::-moz-scrollbar {
  width: 0.5rem;
  background-color: rgb(255, 242, 226);
}

.ant-picker-time-panel-column::-moz-scrollbar-thumb {
  width: 5px;
  background-color: rgb(208, 217, 233);
}


.ant-picker-time-panel-column::-o-scrollbar {
  width: 0.5rem;
  background-color: rgb(255, 242, 226);
}

.ant-picker-time-panel-column::-o-scrollbar-thumb {
  width: 5px;
  background-color: rgb(208, 217, 233);
}


.ant-picker-time-panel-column::-google-ms-scrollbar {
  width: 0.5rem;
  background-color: rgb(255, 242, 226);
}

.ant-picker-time-panel-column::-google-ms-scrollbar-thumb {
  width: 5px;
  background-color: rgb(208, 217, 233);
}


.ant-picker-time-panel-column::-khtml-scrollbar {
  width: 0.5rem;
  background-color: rgb(255, 242, 226);
}

.ant-picker-time-panel-column::-khtml-scrollbar-thumb {
  width: 5px;
  background-color: rgb(208, 217, 233);
}