.ql-container.ql-snow {
  border: none !important;
  /* color: #6dc9ff; */
}

/* html {
  overflow: hidden;
} */

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: black;
}
